---
import ModeToggle from "@/components/ui/ModeToggle.svelte";
import Welcome from "@/components/Welcome.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Button from "$lib/components/ui/button/button.svelte";
---

<BaseLayout>
    <div
        class="relative flex min-h-screen flex-col items-center justify-center p-4"
    >
        <div class="absolute top-4 right-4">
            <ModeToggle client:visible />
        </div>
        <div class="text-center">
            <h1>Welcome to 0dd Logs</h1>
            <h2>Astro + Tailwind</h2>
            <h3>Svelte + Shadcn-svelte</h3>
            <h4>Typescript</h4>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus,
                repellendus. Dignissimos quidem aliquam adipisci. Soluta,
                aperiam. Soluta, aperiam. Soluta, aperiam. Soluta, aperiam. 0.
            </p>
            <span>
                <Button variant="outline" href="/projects">Projects</Button>
                <Button variant="outline" href="/logs">Odd Logs</Button>
            </span>
        </div>
    </div>
</BaseLayout>
