---
import { twMerge } from "tailwind-merge";

export interface Props {
    href: string | URL;
    label: string;
    icon: any;
    class?: string;
    iconClass?: string;
    [key: string]: any;
}

const {
    href,
    label,
    icon: Icon,
    class: className,
    iconClass,
    ...rest
} = Astro.props as Props;

const anchorClasses = twMerge(
    "inline-flex items-center justify-center hover:text-foreground text-muted-foreground",
    className
);

const iconClasses = twMerge("text-3xl", iconClass);
---

<a
    href={href}
    target="_blank"
    rel="noopener noreferrer"
    aria-label={label}
    class={anchorClasses}
>
    <Icon class={iconClasses} {...rest} />
</a>
